@{
    ViewData["Title"] = "Home Page";
}


    <div class="card w-100 p-3 shadow-lg" style="width: 18rem;">
        <img src="/lib/jaj.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Ready to Get Started?</h5>
            <p class="card-text">Click the link below to start the Tutorial.</p>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Tutorial">Lets Go</a>
        </div>
    </div>

   