
@{
    ViewData["Title"] = "Tutorial";
}

<h1>Tutorial</h1>
    <div class="card w-100 p-3 shadow-lg" style="width: 18rem;">
        <img src="/lib/dbset.png" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">To get started select a Database (eg. Correspondence, GraveGrants).</h5>         
        </div>
    </div>

    <p></p>

    <div class="card w-100 p-3 shadow-lg" style="width: 18rem;">
        <img src="/lib/loginfs.png" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Ensure you are Logged In</h5>
        </div>
    </div>

    <p></p>

    <div class="card w-100 p-3 shadow-lg" style="width: 18rem;">
        <img src="/lib/gglist.png" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">On the page, houses oa table of all the fields in the selected Database</h5>
        </div>
    </div>

    <p></p>

    <div class="card w-100 p-3 shadow-lg" style="width: 18rem;">
        <img src="/lib/gglist.png" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">You can then perform updates to the database, by following the prompts to add, edit, view, delete.</h5>
        </div>
    </div>
    
    <p></p>

    <div class="card w-100 p-3 shadow-lg" style="width: 18rem;">
        <img src="/lib/ser.png" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">You can also search for a record in each database using the seach field above.</h5>
        </div>
    </div>
<p></p>

